{% extends "layout.html" %}

{% block heading %}
    <h1>{{ headline }}</h1>
{% endblock %}

{% block body %}
  {% if user_session %}
    <fieldset>
      <legend>Please register:</legend>
      <form action="" method="post">
        <p>Name: <input type="text" name="name" placeholder="Enter Your Name" required autofocus></p>
        <p>Password: <input type="password" name="password" placeholder="Enter your password" required></p>
        <p><h2>{{user_error}}</h2></p>
        <button>Register</button>
      </form>
    </fieldset>
  {% endif %}
{% endblock %}
